@import "variables.scss";

.dnnForm {

    .form-control {
        width: 45%;
        @include box-shadow($none);
    }

    .dnnFormItem {
        margin-bottom: 15px;

        input[type="text"],
        select,
        textarea,
        input[type="email"],
        input[type="search"],
        input[type="password"],
        input[type="date"] {
            margin: 0;
            border: 1px solid $grey;
            color: $middle;
            width: 50%;

            @include border-radius(0);
            @include box-shadow($none);

            &:active,
            &:focus {
                border: 1px solid $large;
                background: $large;
                color: $white;

                outline: $none;
                @include box-shadow ($none);
            }
        }

        select > option {
            color: $white
        }
        label span {
            color: $large;
        }
    }


    a.dnnFormHelp, .dnnForm .dnnFormItem a.dnnFormHelp, .dnnTooltip label a.dnnFormHelp {
        /*background: none;*/
        color: $large !important;
        font-weight: normal !important;
            
        .fa-lg {
            font-size: 1.33333333em;
        }
    }
}

.panel {

    .panel-body {

        img {
        }

        .body-txt {
            float: left;
            width: calc(100% - 270px);
        }

        .teaser-txt {
            float: left;
            width: calc(100% - 150px);
        }
    }



    a.btn-primary:active, a.btn-primary:link, a.btn-primary:visited {
        color: $white;
    }

    .list-group {
        margin: 0;

        .list-group-item-text {
            color: $middle;
        }

        .list-group-item-heading {
            margin: 0;
            color: $large;
        }

        .list-group-item {

            &:last-child,
            &:first-child {
                @include border-radius(0);
            }

            > a {
                color: $dark-alpha-lg;
                text-decoration: $none;
            }

            &:focus,
            &:hover {
                color: $white;
                background-color: $dark-alpha-lg;

                .list-group-item-heading {
                    color: $white;
                }

                .badge {
                    background: $none;
                }

                .list-group-item-text {
                    color: $white;
                }

                > a {
                    color: $white;
                }
            }
        }

        &:hover {
            .pnl-admin {
                .btn-group {
                    display: block;
                }
            }
        }
    }

    .rpt-list {
        .pnl-admin {
            /*position: relative;*/
            .btn-group {
                position: absolute;
                right: 0;
                bottom: 0;
                padding: 10px;
                /*display: $none;*/
            }
        }

        .news-image {
            height: 100px;
            width: 100px;
        }
    }

    .rpt-accordion {
        .pnl-admin {
            position: relative;

            .btn-group {
                position: absolute;
                right: 0;
                bottom: 0;
                padding: 5px;
                /*display: $none;*/
            }
        }

        .news-image {
            height: 100px;
            width: 100px;
        }
    }

    &.details-view {
        .pnl-admin {
            /*position: relative;*/
            .btn-group {
                position: absolute;
                right: 0;
                bottom: 0;
                padding: 10px;
                /*display: $none;*/
            }
        }

        .news-image {
            float: left;
            padding: 0 15px 15px 0;
            max-width: 270px;
            width: auto;
            height: auto;
        }
    }
}
