.dnnForm .form-control {
  width: 45%;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }

.dnnForm .dnnFormItem {
  margin-bottom: 15px; }
  .dnnForm .dnnFormItem input[type="text"],
  .dnnForm .dnnFormItem select,
  .dnnForm .dnnFormItem textarea,
  .dnnForm .dnnFormItem input[type="email"],
  .dnnForm .dnnFormItem input[type="search"],
  .dnnForm .dnnFormItem input[type="password"],
  .dnnForm .dnnFormItem input[type="date"] {
    margin: 0;
    border: 1px solid #ccc;
    color: #999;
    width: 50%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
    .dnnForm .dnnFormItem input[type="text"]:active, .dnnForm .dnnFormItem input[type="text"]:focus,
    .dnnForm .dnnFormItem select:active,
    .dnnForm .dnnFormItem select:focus,
    .dnnForm .dnnFormItem textarea:active,
    .dnnForm .dnnFormItem textarea:focus,
    .dnnForm .dnnFormItem input[type="email"]:active,
    .dnnForm .dnnFormItem input[type="email"]:focus,
    .dnnForm .dnnFormItem input[type="search"]:active,
    .dnnForm .dnnFormItem input[type="search"]:focus,
    .dnnForm .dnnFormItem input[type="password"]:active,
    .dnnForm .dnnFormItem input[type="password"]:focus,
    .dnnForm .dnnFormItem input[type="date"]:active,
    .dnnForm .dnnFormItem input[type="date"]:focus {
      border: 1px solid #333;
      background: #333;
      color: #fff;
      outline: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none; }
  .dnnForm .dnnFormItem select > option {
    color: #fff; }
  .dnnForm .dnnFormItem label span {
    color: #333; }

.dnnForm a.dnnFormHelp, .dnnForm .dnnForm .dnnFormItem a.dnnFormHelp, .dnnForm .dnnTooltip label a.dnnFormHelp {
  /*background: none;*/
  color: #333 !important;
  font-weight: normal !important; }
  .dnnForm a.dnnFormHelp .fa-lg, .dnnForm .dnnForm .dnnFormItem a.dnnFormHelp .fa-lg, .dnnForm .dnnTooltip label a.dnnFormHelp .fa-lg {
    font-size: 1.33333333em; }

.panel .panel-body .body-txt {
  float: left;
  width: calc(100% - 270px); }

.panel .panel-body .teaser-txt {
  float: left;
  width: calc(100% - 150px); }

.panel a.btn-primary:active, .panel a.btn-primary:link, .panel a.btn-primary:visited {
  color: #fff; }

.panel .list-group {
  margin: 0; }
  .panel .list-group .list-group-item-text {
    color: #999; }
  .panel .list-group .list-group-item-heading {
    margin: 0;
    color: #333; }
  .panel .list-group .list-group-item:last-child, .panel .list-group .list-group-item:first-child {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
  .panel .list-group .list-group-item > a {
    color: rgba(59, 30, 119, 0.7);
    text-decoration: none; }
  .panel .list-group .list-group-item:focus, .panel .list-group .list-group-item:hover {
    color: #fff;
    background-color: rgba(59, 30, 119, 0.7); }
    .panel .list-group .list-group-item:focus .list-group-item-heading, .panel .list-group .list-group-item:hover .list-group-item-heading {
      color: #fff; }
    .panel .list-group .list-group-item:focus .badge, .panel .list-group .list-group-item:hover .badge {
      background: none; }
    .panel .list-group .list-group-item:focus .list-group-item-text, .panel .list-group .list-group-item:hover .list-group-item-text {
      color: #fff; }
    .panel .list-group .list-group-item:focus > a, .panel .list-group .list-group-item:hover > a {
      color: #fff; }
  .panel .list-group:hover .pnl-admin .btn-group {
    display: block; }

.panel .rpt-list .pnl-admin {
  /*position: relative;*/ }
  .panel .rpt-list .pnl-admin .btn-group {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    /*display: $none;*/ }

.panel .rpt-list .news-image {
  height: 100px;
  width: 100px; }

.panel .rpt-accordion .pnl-admin {
  position: relative; }
  .panel .rpt-accordion .pnl-admin .btn-group {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;
    /*display: $none;*/ }

.panel .rpt-accordion .news-image {
  height: 100px;
  width: 100px; }

.panel.details-view .pnl-admin {
  /*position: relative;*/ }
  .panel.details-view .pnl-admin .btn-group {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    /*display: $none;*/ }

.panel.details-view .news-image {
  float: left;
  padding: 0 15px 15px 0;
  max-width: 270px;
  width: auto;
  height: auto; }

