
$font-awesome:	'FontAwesome';

$white:             #fff;
$black:             #000;
$blue:              #33ccff;
$link:              #33ccff;
$link-md:           rgba(51,204,255,0.5); //33ccff
$link-hover:        #f7944d;

$grey:              #ccc;
$middle:            #999;
$large:             #333;

$dark: rgba(59,30,119, 1);
$dark-alpha-null: rgba(59,30,119, 0);
$dark-alpha: rgba(59,30,119, 0.25);
$dark-alpha-md: rgba(59,30,119, 0.5);
$dark-alpha-lg: rgba(59,30,119, 0.7);
$dark-alpha-xlg: rgba(59,30,119, 0.8);

$light: rgba(255,255,255, 1);
$light-alpha-null: rgba(255,255,255, 0);
$light-alpha: rgba(255,255,255, 0.35);
$light-alpha-md: rgba(255,255,255, 0.5);
$light-alpha-lg: rgba(255,255,255, 0.7);
$light-alpha-xlg: rgba(255,255,255, 0.8);

$none: none;
$all: all 300ms ease-out;
$bgColor: background-color 300ms ease-out;
$color: color 300ms ease-out;

@mixin bg-size($bgsize){
    -webkit-background-size: $bgsize;
    -moz-background-size: $bgsize;
    -o-background-size: $bgsize;
    background-size: $bgsize;
}

@mixin box-size($boxsize){
	-webkit-box-sizing: $boxsize; 
    -moz-box-sizing: $boxsize; 
    -o-box-sizing: $boxsize; 
    box-sizing: $boxsize;
}

@mixin box-shadow($boxshadow){
    -moz-box-shadow: $boxshadow;
    -webkit-box-shadow: $boxshadow;
    -o-box-shadow: $boxshadow;
    box-shadow: $boxshadow;
}

@mixin transition($transitions) {
	-webkit-transition: $transitions;
	-moz-transition: $transitions;
	-o-transition: $transitions;
	transition: $transitions;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
          transform: $transform;
}